<!-- LISTAR - COMPONENTE-->
<section>
    <div class="content">
        <div class="add_note">
            <div class="store">
                <h1>Adicionar nota</h1>
                <form [formGroup]="formCadastraNota" (ngSubmit)="onSubmit()" class="store_form">
                    <div class="row ">
                        <div class="input-group-form store_form_store">
                            <label>loja</label>
                            <input type="text " formControlName="loja" placeholder="Razão social, nome fantasia ou CNPJ ">
                            <div *ngIf="submitted && f.loja.errors" class="invalid-feedback">
                                <div *ngIf="f.loja.errors.required">First Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row store_form_notas ">
                        <div class="input-group-form ">
                            <label>No DA NOTA</label>
                            <input type="number" formControlName="numero" placeholder="--- ">
                            <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                                <div *ngIf="f.numero.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="input-group-form">
                            <label>DATA DA NOTA</label>
                            <input type="date" formControlName="data" placeholder="--- ">
                            <div *ngIf="submitted && f.data.errors" class="invalid-feedback">
                                <div *ngIf="f.data.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="input-group-form">
                            <label>forma de pagamento</label>
                            <select formControlName="pagamento">
                              <option value="">selecionar</option>
                              <option value="credito">Crédito</option>
                              <option value="debto">Débto</option>
                              <option value="boleto">Boleto</option>
                            </select>
                            <div *ngIf="submitted && f.pagamento.errors" class="invalid-feedback">
                                <div *ngIf="f.pagamento.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="input-group-form">
                            <label>valor</label>
                            <input type="text" formControlName="valor" placeholder="R$--- ">
                            <div *ngIf="submitted && f.pagamento.errors" class="invalid-feedback">
                                <div *ngIf="f.pagamento.errors.required">First Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn_group">
                            <div class="btn_group_btns">
                                <button mat-button class="btn btn_cancelar" type="reset">Cancelar</button>
                                <button type="submit" mat-button class="btn btn_adicionar">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- LISTAR NOTAS - COMPONENTE -->
<section>
    <div class="content ">
        <div class="cadastrar_notas ">
            <h1>Cadastrar notas</h1>
            <h2>Você precisa confimar o cadastro dessa lista de notas</h2>

            <div class="table_cadastrar_notas ">
                <table cellpadding="0 " cellspacing="0 ">
                    <thead>
                        <tr>
                            <th>loja</th>
                            <th>no da nota</th>
                            <th>Data da nota</th>
                            <th>cadastro</th>
                            <th>valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nota of notas_cadastradas ">
                            <td> {{ nota.loja }} </td>
                            <td> {{ nota.numero }} </td>
                            <td> {{ nota.data | date: 'dd/MM/yyyy' }} </td>
                            <td> {{ nota.pagamento }} </td>
                            <td> {{ nota.valor }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>