<section>
    <div class="container">
        <div class="perfil">
            <div class="perfil_voltar">seta</div>
            <div class="perfil_foto">
                <img src="https://via.placeholder.com/150" alt="" class="circle">
            </div>
            <div class="perfil_info">
                <p class="perfil_info_nome"> {{ perfil?.nome }} </p>
                <p class="perfil_info_cpf_cod">CPF: {{ perfil?.cpf }} . Cód: {{ perfil?.codigo }}</p>
            </div>
            <div>
                <ul>
                    <li>
                        <p class="destaque">Observações importantes</p>
                        <p>{{ perfil?.obs }}</p>
                    </li>
                    <li>
                        <p class="destaque">E-MAIL</p>
                        <p>{{ perfil?.email }}</p>
                    </li>
                    <li>
                        <p class="destaque">Telefone</p>
                        <p>{{ perfil?.telefone.pais }} {{ perfil?.telefone.area }} {{ perfil?.telefone.numero }}</p>
                    </li>
                    <li>
                        <p class="destaque">Endereço</p>
                        <p>{{ perfil?.endereco?.tipo }} {{ perfil?.endereco?.logradouro }} , {{ perfil?.endereco?.numero }} - {{ perfil?.endereco?.bairro }} - {{ perfil?.endereco?.cep }} {{ perfil?.endereco?.cidade }} - {{ perfil?.endereco?.estado }} {{
                            perfil?.endereco?.pais }}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>