<section>
    <div class="content">
        <div class="add_note">
            <div class="store">
                <h1>Adicionar nota</h1>
                <form class="store_form">
                    <div class="row">
                        <div class="input-group-form store_form_store">
                            <label>loja</label>
                            <input type="text" placeholder="Razão social, nome fantasia ou CNPJ">
                        </div>
                    </div>
                    <div class="row store_form_notas">
                        <div class="input-group-form">
                            <label>No DA NOTA</label>
                            <input type="text" placeholder="---">
                        </div>
                        <div class="input-group-form">
                            <label>DATA DA NOTA</label>
                            <input type="text" placeholder="---">
                        </div>
                        <div class="input-group-form">
                            <label>forma de pagamento</label>
                            <select name="" id="">
                              <option value="">selecionar</option>
                              <option value="credito">Crédito</option>
                              <option value="debto">Débto</option>
                              <option value="boleto">Boleto</option>
                            </select>
                        </div>
                        <div class="input-group-form">
                            <label>valor</label>
                            <input type="text" placeholder="R$---">
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn_group">
                            <div class="btn_group_btns">
                                <button mat-button class="btn btn_cancelar" type="button">Cancelar</button>
                                <button mat-button class="btn btn_adicionar">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>