<header>
    <h1 class="titulo_principal">Fidelidade</h1>
</header>
<section>
    <!-- component de abas -->
    <mat-tab-group>
        <mat-tab label="TRANSAÇÕES">
            <div class="tab">
                <div class="tab_item"> Saldo <br> {{ pontos.total | currency: 'BRL':true }}</div>
                <div class="tab_item"> Histórico <br>{{ pontos?.historico | currency: 'BRL':true }}</div>
                <div class="tab_item"> Utilizados <br>{{ pontos?.utilizados | currency: 'BRL':true }}</div>
                <div class="tab_item"> Expirados <br>{{ pontos?.expirados | currency: 'BRL':true }}</div>
            </div>
        </mat-tab>
        <mat-tab label="BENEFÍCIOS">
            <div class="tab">
                <div class="tab_item">benefícios<br>...</div>
            </div>
        </mat-tab>
        <mat-tab label="HISTÓRICO">
            <div class="tab">
                <div class="tab_item">Histórico<br>...</div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>